.ui-Featured
  .next
    h3 Up Next
    hr.divider
    .next-video
      img(src="https://img.youtube.com/vi/ypYI_lmLD7g/hqdefault.jpg", height="100", alt="")
      .title
        h3 An Osmosis Video: Congestive Heart Failure (CHF) Explained
        p Osmosis
  .memory
    h3 Memory Anchors
    hr.divider
    .next-video
      img(src="https://img.youtube.com/vi/2kLlhlsesRQ/hqdefault.jpg", height="100", alt="")
      .title
        h3 An Osmosis Video: Heart Attack Explained
        p Osmosis
    .next-video
      img(src="https://img.youtube.com/vi/g0l6QdoICrM/hqdefault.jpg", height="100", alt="")
      .title
        h3 ECG Cardiac Infarction and Ischemia | Osmosis
        p Ali Haider
    .next-video
      img(src="https://img.youtube.com/vi/TAk5ri1HKFc/hqdefault.jpg", height="100", alt="")
      .title
        h3 Gastric cancer - causes, symptoms, diagnosis, treatment, pathology
        p Osmosis
    .next-video
      img(src="https://img.youtube.com/vi/PURvJV2SMso/hqdefault.jpg", height="100", alt="")
      .title
        h3 Schizophrenia - causes, symptoms, diagnosis, treatment & pathology
        p Osmosis