// @desktop:   ~"only screen and (min-width: 960px) and (max-width: 1499px)";

flex-direction: column;
display: flex;
margin: 48px 10% 0 10% !important;
.breadcrump-container {
  padding: 12px !important;
  background-color: white;
  border-radius: 4px;
  display: flex;
  .robot-img {
    height: 50px;
  }
  .main {
    font-size: 12px;
    font-style: italic;
    color: gray;
    .title {
      padding-top: 10px !important;
      color: black;
      font-size: 18px;
      font-style: normal;
    }
    padding-left: 12px;
    display: flex;
    flex-direction: column;
  }
}

.video-container  {
  margin-top: 36px;
  display: flex;
  .main {
    width: 70%;
    padding-right: 24px;
    .video {
      iframe {
        height: 500px;
      }
    }
    .queue {
      background-color: white;
    }
  }
}

@media @tablet,@mobile {
  .video-container {
    flex-direction: column; 
    margin-top: 36px;
    .main {
      width: 100%;
      padding-right: 24px;
      .video {
        iframe {
          height: 250px;
        }
      }
    }
  }
}

@media @mobile {
  .video-container {
    .main {
      .video {
        iframe {
          height: 150px;
        }
      }
    }
  }
}
