.ui-Queue
  .flashcards
    div.counter
      .number 26
      .name
        p FLASHCARDS
    hr.divider
    div.counter
      .number 0
      .name QUESTIONS
  button.add-to-queue
    span Add to Quiz Queue
