.ui-Sidebar
  .menu
    img(src="/assets/menu.svg", class="filter-light-grey", alt="files")
  .tools
    .top-tools
      .tool.logo
        img(src="/assets/logo.png", alt="logo")
        .name Library
      .tool
        img(src="/assets/calendar.svg", alt="logo")
        .name Step 1 Schedule
      .tool
        img(src="/assets/customer-support.svg", alt="logo")
        .name Quiz Builder
      .tool
        img(src="/assets/group.svg", alt="logo")
        .name Team workspace
    .bottom-tools
      .tool
        img(src="/assets/plus-black-symbol.svg", alt="logo")
        .name Add Tools
      .tool
        img(src="/assets/question-mark.svg", alt="logo")
        .name Help
