.ui-TopBar
  .searchBox
    div.box
      input(type="text", placeholder="Search for video, flashcards and questions")
      img(src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png", alt="search")
  .controls
    img(src="/assets/file.svg", class="filter-blue", alt="files")
    img(src="/assets/list.svg", class="filter-light-grey", alt= "list")
    .divider
    img(src="/assets/wall-clock.svg", class="filter-blue", alt="clock")
    .divider
    img(src="/assets/user.jpg", class="avatar", alt="user")


